<p align="center">
  <a href="https://www.synod.va" target="blank">
  <image src="/_static/logo-2023-trasparente-et.png" width="50%"/>
  <br>www.synod.va
  </a>
</p>
<p align="center">
  <br>
  <a href="https://www.katoliku.ee" target="blank">
  <image src="/_static/657_143.png" width="30%"/>
  <br>www.katoliku.ee
  </a>
</p>
