/* adds background images
*/
/* background-image: url("/_static/logo-2023-trasparente-et.png"); */
/* .body {
    font-family: "Providence Sans", sans-serif;
    background-image: url("/_static/CAHR-people-on-the-move-800.jpg");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right top;
} */

div.sphinxsidebarwrapper {
  background-color: #A42946;
}

p.logo {
  padding-left: 30pt;
  padding-right: 30pt;
}

p.logo > a:visited {
    color: white; 
}

img.logo {
  background-color: #000000;
  /* padding: 10pt; */
  spacing: 10pt
}

/* .bodywrapper { */
/* .contents { */

/* background-image: url("/_static/CAHR-people-on-the-move-800.jpg"); */

/* .document { */
